/* pages/user/index.wxss */
page{
  background-color: #f4f4f4;
}
.head {
  width: 750rpx;
  height: 420rpx;
  background: indianred;
  display: flex;
  justify-content: center;
  align-items: center;
  &-img {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    image {
      width: 140rpx;
      height: 140rpx;
      // background-color: hotpink;
      border-radius: 50%;
      border: 5rpx solid #fff;
    }
  }

}